html {
  background: rgb(255, 171, 163);
    position: relative;
}
.app {
    
  
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Truculenta', sans-serif;
    background-size: cover;
    
    margin-top: -10px;
    margin-left: -9px;
}
@media(min-width: 358px)
{

.about{
    margin-top: -57px;
    margin-left: 310px;
}
.links{
    margin-top: 30px;
    margin-left: 20px; 
}
.bloglar{
    margin-top: 100px;
    margin-left: 450px;
    
}
li {
    font-size: large; 
}
a:link {
    color: white;
    text-decoration: none;

  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
   
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    
  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: none;
  
  }
}