* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
    background: rgb(255, 255, 255);
    
    

}
.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

hr {
  border:  solid 1px;
  width: 100%;
 
 
  
 }
 hr.hr1{
  
  color: rgba(0, 0, 0, 0.047);
 }
.info{
  text-align: center;
}
.newsfeed{
color: black;


font-size: large;
}
.post1{
  
  
}
.recentpost {
  color: black;
  font-size: large;


  z-index: -1;
}
.header{
  
    color: black;
    
    
    display: flex;
    
    justify-content: space-between;
    padding: 20px 0;
    padding-right: 10px;

}
.header > div {
  display: flex;
  gap: 20px;
  
}

.link {
    color:black;

    
}

a:link {
    color: black;
    text-decoration: none;

  }
  
  /* visited link */
  a:visited {
    color: black;
    text-decoration: none;
   
  }
 
  /* mouse over link */
  a:hover {
    color: black;
    text-decoration: none;
    
  }
  
  /* selected link */
  a:active {
    color: black;
    text-decoration: none;
  
  }
  