* {
  padding: 0px;
  margin: 0px;

  box-sizing: border-box;
}

html {
  background-color: rgba(255, 255, 255, 0.932);



}

section {
  padding: 0px;
  margin: 0px;

  box-sizing: border-box;
}

span {

  position: fixed;
  pointer-events: none;
  /*
  background: -webkit-linear-gradient(left, rgb(255, 0, 0), rgb(255, 209, 56), rgb(0, 153, 255), blue, violet);
  background: -o-linear-gradient(right, rgb(255, 0, 0), rgb(255, 209, 56), rgb(0, 153, 255), blue, violet);
  background: -moz-linear-gradient(right, rgb(255, 0, 0), rgb(255, 209, 56), rgb(0, 153, 255), blue, violet);
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 209, 56), rgb(0, 153, 255), blue, violet);*/

  background-image: url("./src/peepoBlanket.png");

  opacity: 0.25;
  animation: animate 5.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0deg)
  }

  100% {
    transform: scale(1) translateY(-500%) rotate(360deg)
  }
}

.banner {
  background-color: rgba(8, 8, 8, 0.089);
  padding: 130px 0;

}

.typewrite {
  position: relative;
  /*background: red;
  background: -webkit-linear-gradient(left, rgb(255, 0, 0), rgb(255, 209, 56), rgb(0, 153, 255), blue, violet);
  background: -o-linear-gradient(right, rgb(255, 0, 0), rgb(255, 209, 56), rgb(0, 153, 255), blue, violet);
  background: -moz-linear-gradient(right, rgb(255, 0, 0), rgb(255, 209, 56), rgb(0, 153, 255), blue, violet);
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 209, 56), rgb(0, 153, 255), blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/

}

.typewrite::after {
  content: '';
  width: 1px;
  border-right: 1px solid rgb(0, 0, 0);
  height: 100%;
  margin-left: 0.5rem;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.recentl {
  font-size: xx-large;

}

.container {

  padding: 10px;
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  background-color: rgba(255, 255, 255, 0, 004);
  border-radius: 5%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;

}

.hr1 {
  font-size: 100%;
  line-height: 200%;
}

.note {
  font-size: 65%;
  text-align: center;
}

.post1 {
  font-size: 100%;
  line-height: 200%;
}

hr {
  border: solid 1px;
  width: 100%;



}

.source {
  font-size: 75%;
}

hr.hr1 {

  color: rgba(0, 0, 0, 0.308);
}

.info {
  text-align: center;
  color: rgb(0, 0, 0);
}

.newsfeed {
  color: rgb(0, 0, 0);


  font-size: large;
}


.accounts {

  display: flex;
  text-align: center;
  justify-content: space-evenly;
  word-spacing: 30px;
}

.header {

  color: rgb(0, 0, 0);
  font-size: small;

  display: flex;

  justify-content: space-between;
  padding: 20px 0;
  padding-right: 10px;

}

.header>div {
  display: flex;
  gap: 20px;
  color: rgb(0, 0, 0);
}

.link {
  color: rgb(0, 0, 0);


}

a:link {
  color: rgb(0, 0, 0);
  text-decoration: none;

}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;

}

/* mouse over link */
a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;

}

/* selected link */
a:active {
  color: rgb(0, 0, 0);
  text-decoration: none;

}