
html {
    background: rgb(255, 171, 163);
    padding: 50px;
    background-size: cover;

}

.prof-box {
    width: 250px;
    height:890px;
    
    background-color: rgba(0, 0, 0, 0.3) ;
    padding: 30px;
    
    margin: 0 auto;
    margin-top: -58px;
    margin-left: -58px;
    border-radius: 0%;
    position: fixed;
    background-size: cover;
    z-index: -1;
    
}
.text{
  margin-top: 250px;
    margin-left: 700px;
    position: fixed;
   
    color: white;
  text-shadow: 1px 1px 2px , 0 0 25px rgb(255, 196, 196), 0 0 5px rgb(255, 76, 76);
}
.app {
  position: fixed;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Truculenta', sans-serif;
    padding: 5px

}

.link {
    color:white;
    
}

 
.about{
    margin-left: -1px;
    margin-top: 30px;
}
a:link {
    color: white;
    text-decoration: none;

  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
   
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    
  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: none;
  
  }
  